{% extends 'base.html.twig' %}

{% block title %}Cotisations index{% endblock %}

{% block body %}
    <h1>Cotisations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cotisation in cotisations %}
            <tr>
                <td>{{ cotisation.id }}</td>
                <td>{{ cotisation.nom }}</td>
                <td>{{ cotisation.montant }}</td>
                <td>{{ cotisation.date ? cotisation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cotisation.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_cotisations_show', {'id': cotisation.id}) }}">show</a>
                    <a href="{{ path('app_cotisations_edit', {'id': cotisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cotisations_new') }}">Create new</a>
{% endblock %}
